#loading-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #ffe0cc;
  border: 2px solid yellow;
}

#loading-container h1 {
  border: 3px solid black;
}
