.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background: linear-gradient(90deg, #005ab4, #0cb1ff);
    color: #fdfdfd;
    padding: 1rem;
    font-size: 0.9rem;
    border: 3px solid black;
}

@media screen and (max-width: 390px) {
    #copyright-para {
        font-size: 1rem;
    }
}
