/* #users-container {
    display: flex;
    padding: 2rem;
    gap: 10px;
    overflow: auto;
    background-color: #FFE7D7;
    border: 2px solid black;
    border-radius: 10px;
} */

#users-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* ✅ 5 cards per row */
  gap: 1rem; /* spacing between cards */
  padding: 1rem;
}

