/* Google Font Styles */
@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');

#user-card {
  flex: 0 0 200px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 5px;
  font-family: 'SUSE Mono', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  overflow: hidden;
}

#user-card img {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
  background-color: blue;
  border-bottom: 2px solid white;
}

.info-text {
  display: flex;
  align-items: center;
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1rem;
}

.name-font {
  font-family: 'Honk', system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    'MORF' 15,
    'SHLN' 50;
}

.name-font-alt-style {
  font-family: 'Frijole', system-ui;
  font-weight: 400;
  font-style: normal;
}

.card-icon {
  margin-right: 0.5rem;
  vertical-align: middle;
  font-size: 1rem; /* size adjusts with text */
  flex-shrink: 0;
}
