@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.75rem;
  box-sizing: border-box;
  max-width: 100vw;
  background-color: #ffe9dc;
  border: 2px solid black;
  border-radius: 10px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.form-container form label {
  font-family: 'Audiowide', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 1rem;
}

.form-container h1,
.form-container h2 {
  font-family: 'Rubik Glitch', system-ui;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 390px) {
  .form-container h1,
  .form-container h2 {
    text-align: center;
  }

  .form-container {
    max-width: 95vw;
    padding: 1rem;
  }
}
