@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

#nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    max-height: fit-content;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border: 2px solid black;
}

#app-icon-container img {
    width: 30%;
    height: 20vh;
}

#app-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

.nav-bar-images {
    height: 10vh;
}

.nav-bar-images:hover {
    cursor: pointer;
}

.nav-bar-images-default {
    height: 10vh;
    cursor: default;
}

#app-logo {
    border-radius: 10px;
}
