@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');

#nav-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100%;
  background: linear-gradient(90deg, #005ab4, #0cb1ff);
  color: white;
  box-shadow: 0 -4px 12px rgba(0, 90, 180, 0.35); /* bluish glow above footer */
}

.nav-bar-images {
  height: 5vh;
}

.nav-bar-images:hover {
  cursor:
    url('/assets/pointer-cursor.png') 0 0,
    auto;
}

.nav-bar-images-default {
  height: 10vh;
  cursor:
    url('/assets/regular-cursor.png') 0 0,
    auto;
}

#menu-icon-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  min-width: 100%;
  background: linear-gradient(90deg, #005ab4, #0cb1ff);
  box-shadow: 0 -4px 12px rgba(0, 90, 180, 0.35); /* bluish glow above footer */
  color: white;
  border-bottom: none;
  border: 3px solid yellow;
}

#notifications-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  border: 3px solid red;
}

#notifications-group h3 {
  font-family: 'Rubik Maps', system-ui;
  font-weight: 400;
  font-style: normal;
}

#app-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1%;
}

#app-logo {
  width: 50%;
  height: 20vh;
  border-radius: 10px;
}

#app-icon {
  padding: 1%;
  margin: 1%;
  border: 3px solid black;
}

#menu-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  border: 3px solid white;
}

.slogan {
  font-family: 'Schoolbell', cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

@media screen and (max-width: 390px) {
  #notifications-group {
    flex-direction: column;
  }
}
