@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

#nav-bar-container {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    max-height: fit-content;
    border: 2px solid black;
}

#app-icon-container img {
    width: 30%;
}

#app-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}
